<% content_for :jquery do %>
  $('#deadline-tabs a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })

  $('#deadline-tabs a:first').tab('show');
<% end %>

<ul class="nav nav-list">
  <li class="nav-header">Events</li>
  <% current_yearbook.deadlines.each_with_index do |deadline, i| %>
    <li><a href="#<%= deadline.sanitized_title %>"><%= deadline.title %></a></li>
  <% end %>
</ul>

<ul class="nav nav-list">
  <li class="nav-header">Spreads</li>
  <% current_yearbook.deadlines.each_with_index do |deadline, i| %>
    <li><a href="#<%= deadline.sanitized_title %>"><%= deadline.title %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% current_yearbook.deadlines.each_with_index do |deadline, i| %>
    <div class="tab-pane" id="<%= deadline.sanitized_title %>">
      <article class="span6">
        <h3>Spreads</h3>
        <% if deadline.spreads_for?(current_user) %>
          <% deadline.spreads_for(current_user).each do |spread| %>
            <p><%= link_to spread.title, "" %></p>
          <% end %>
        <% else %>
          <p>You have not been assigned any spreads.</p>
        <% end %>
      </article>
    </div>
  <% end %>
</div>
