<% content_for :jquery do %>
  $('#deadline-tabs a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })

  $('#deadline-tabs a:first').tab('show');
<% end %>

<% title "Assignments" %>

<h1>Assignments for <%= current_user.full_name %></h1>

<ul class="nav nav-tabs" id="deadline-tabs">
  <% current_yearbook.deadlines.each_with_index do |deadline, i| %>
    <li><a href="#<%= deadline.sanitized_title %>"><%= deadline.title %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% current_yearbook.deadlines.each_with_index do |deadline, i| %>
    <div class="tab-pane" id="<%= deadline.sanitized_title %>">
      <article class="span6">
        <h3>Spreads/Pages</h3>
        <% if deadline.spreads_for?(current_user) %>
          <% deadline.spreads_for(current_user).each do |spread| %>
            <p><%= link_to spread.title, "" %></p>
          <% end %>
        <% else %>
          <p>You have not been assigned any spreads.</p>
        <% end %>
      </article>
    </div>
  <% end %>
</div>

<!--<div class="row-fluid">
  <article class="span6">
    <h2>Spreads/Pages</h2>
    <% if current_user.spreads %>
      <% current_user.spreads.each do |a| %>
        <% a.pages.each do |page| %>
          <p><%= page.title %></p>
        <% end %>
      <% end %>
    <% else %>
      <p>You have not been assigned any spreads.</p>
    <% end %>
  </article>
  <article class="span6">
    <h2>Event Coverage</h2>
    <% if current_user.events %>
      <% current_user.events.each do |a| %>
        <%= debug a %>
      <% end %>
    <% else %>
      <p>You have not been assigned any events.</p>
    <% end %>
  </article>
</div> -->

