<%= form_for(@yearbook) do |f| %>
  <% if @yearbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yearbook.errors.count, "error") %> prohibited this yearbook from being saved:</h2>

      <ul>
      <% @yearbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :school %><br />
    <%= f.text_field :school %>
  </div>
  <div class="field">
    <%= f.label :starting_year %><br />
    <%= f.text_field :starting_year %>
  </div>
  <div class="field">
    <%= f.label :ending_year %><br />
    <%= f.text_field :ending_year %>
  </div>
  <div class="field">
    <%= f.label :theme %><br />
    <%= f.text_field :theme %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
