<% content_for :javascript do %>
  // YB.yearbook = new YB.Model.Yearbook(<%= current_yearbook.to_json.html_safe %>) 
  // YB.sections = new YB.Collection.Sections(<%= @sections.to_json.html_safe %>) 

  var yearbook_view = new YB.Views.Yearbook({ el: $("#ladder-title") });
<% end %>

<% content_for :templates do %>
  <script type="text/template" id="ladder-title-template">
    <%= current_yearbook.starting_year %> - <%= current_yearbook.ending_year %> Ladder
  </script>
<% end %>

<h3 id="ladder-title"></h3>

<ul class="ladder">
  <% page_number = 0 %>
  <% @sections.each do |section| %>
    <li class="ladder-section-header"><%= section.title %></li>
    <% section.spreads.each do |spread| %>
      <li class="ladder-row row-<%= cycle('odd','even') %>">
        <span class="ladder-page-numbers">
          <span class="ladder-move">
            +
          </span>
          <%= page_number += 1 %> - <%= page_number += 1 %>
        </span>
        <span class="ladder-spread-titles">
          <%= link_to spread.title, "#" %>
        </span>
        <span class="ladder-spread-actions">
          <small><%= link_to "view details", "#" %></small>
        </span>
      </li>
    <% end %>
  <% end %>
</ul>
