<h3><%= current_yearbook.starting_year %> - <%= current_yearbook.ending_year %> Ladder</h3>

<ul class="ladder">
  <% page_number = 0 %>
  <% @sections.each do |section| %>
    <li class="ladder-section-header"><%= section.title %></li>
    <% section.spreads.each do |spread| %>
      <li class="ladder-row row-<%= cycle('odd','even') %>">
        <span class="ladder-page-numbers">
          <span class="ladder-move">
            +
          </span>
          <%= page_number += 1 %> - <%= page_number += 1 %>
        </span>
        <span class="ladder-spread-titles">
          <%= link_to spread.title, "#" %>
        </span>
        <span class="ladder-spread-actions">
          <%= link_to "view details", "#" %>
        </span>
      </li>
    <% end %>
  <% end %>
</ul>
