<h1>Listing spreads</h1>

<table>
  <tr>
    <th>Section</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spreads.each do |spread| %>
  <tr>
    <td><%= spread.section %></td>
    <td><%= spread.position %></td>
    <td><%= link_to 'Show', spread %></td>
    <td><%= link_to 'Edit', edit_spread_path(spread) %></td>
    <td><%= link_to 'Destroy', spread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spread', new_spread_path %>
