<% content_for :jquery do %>
  $('#deadline-tabs a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  })

  $('#deadline-tabs a:first').tab('show');
<% end %>

<h3><%= current_yearbook.starting_year %> - <%= current_yearbook.ending_year %> Ladder</h3>
<ul class="ladder">
  <% page_number = 0 %>
  <% current_yearbook.sections.each do |section| %>
    <%#<li class="ladder-header"><%= section.title </li>%>
    <% section.spreads.each do |spread| %>
      <li class="ladder-row">
        <div class="ladder-node left-page">
          <%= link_to spread.left_page.title, "#" %>
        </div>
        <div class="ladder-node left-page-number">
          <%= page_number += 1 %>
        </div>
        <div class="ladder-node right-page-number">
          <%= page_number += 1 %>
        </div>
        <div class="ladder-node right-page">
          <%= link_to spread.right_page.title, "#" %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

<!--
<ul class="nav nav-list">
  <li class="nav-header">Events</li>
  <% current_yearbook.deadlines.each_with_index do |deadline, i| %>
    <li><a href="#<%= deadline.sanitized_title %>"><%= deadline.title %></a></li>
  <% end %>
</ul>

<ul class="nav nav-list">
  <li class="nav-header">Spreads</li>
  <% current_yearbook.deadlines.each_with_index do |deadline, i| %>
    <li><a href="#<%= deadline.sanitized_title %>"><%= deadline.title %></a></li>
  <% end %>
</ul>

<div class="tab-content">
  <% current_yearbook.deadlines.each_with_index do |deadline, i| %>
    <div class="tab-pane" id="<%= deadline.sanitized_title %>">
      <article class="span6">
        <h3>Spreads</h3>
        <% if deadline.spreads_for?(current_user) %>
          <% deadline.spreads_for(current_user).each do |spread| %>
            <p><%= link_to spread.title, "" %></p>
          <% end %>
        <% else %>
          <p>You have not been assigned any spreads.</p>
        <% end %>
      </article>
    </div>
  <% end %>
</div>
-->
