<!DOCTYPE html>
<html>
<head>
  <title><%= application_layout_title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= render 'layouts/application/header' %>
  </header>
  <section id="main" class="container-fluid">
    <div class="row-fluid">
      <nav class="span2" id="nav-sidebar">
        <%= render 'layouts/application/sidebar' %>
      </nav>
      <section class="span10" id="main-content">
        <%= render 'shared/notices' %>
        <%= yield %>
      </section>
    <div>
  </section>
  <footer>
    <%= render 'layouts/application/footer' %>
  </footer>
  <%= render 'layouts/application/js_content' %>
</body>
</html>
