<!DOCTYPE html>
<html>
<head>
  <title><%= application_layout_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= render 'layouts/application/cdn_javascript' %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav id="nav-utility">
      <%= current_user.full_name %> |
      <%= link_to "profile", edit_user_path(current_user.id) %> |
      <%= link_to "help", events_path %> |
      <%= link_to "sign out", destroy_user_session_path, :method => :delete  %>
    </nav>
    <h1><%= current_school.short_name %> Yearbook Planner</h1>
    <%= render 'layouts/application/navigation' %>
  </header>
  <section id="main" class="container-fluid">
    <div class="row-fluid">
      <nav class="span3" id="nav-ladder">
        <%= render 'layouts/application/ladder' %>
      </nav>
      <div class="span9">
        <%= render 'shared/notices' %>
        <%= yield %>
      </div>
    <div>
  </section>
  <footer>
    <%= render 'layouts/application/footer' %>
  </footer>

  <%= content_for :javascript %>
  <% if content_for?(:jquery) %>
    <script type="text/javascript">
      $(function() {
        <%= content_for :jquery %>
      });
    </script>
  <% end %>
</body>
</html>
