<!DOCTYPE html>
<html>
<head>
<title><%= application_layout_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1><%= @school.short_name %> Yearbook Planner</h1>
    <nav>
      <ul>
        <li>Dashboard</li>
        <li>Pages</li>
        <li>Assignments</li>
        <li>People</li>
        <li>Settings</li>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </header>

  <%= yield %>

  <footer>
    &copy; Copyright <%= Time.now.year %> Doug Johnston. All Rights Reserved.
  </footer>
</body>
</html>
