<!DOCTYPE html>
<html>
<head>
<title><%= application_layout_title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav id="nav-utility">
      <%= current_user.full_name %> |
      <%= link_to "profile", edit_user_url(current_user.id) %> |
      <%= link_to "help", events_url %> |
      <%= link_to "sign out", destroy_user_session_path %>
    </nav>
    <h1><%= @school.short_name %> Yearbook Planner</h1>
    <%= render 'layouts/application/navigation' %>
  </header>
  <section id="main" class="container-fluid">
    <%= render 'shared/notices' %>
    <%= yield %>
  </section>
  <footer>
    <div class='left'>
      Logged in as <%= link_to current_user.full_name, edit_user_path(current_user.id) %> |
      <%= link_to "help", events_url %> |
      <%= link_to "sign out", dashboard_url %>
    </div>
    <div class='right'>
      &copy; Copyright <%= Time.now.year %> Doug Johnston. All Rights Reserved.
    </div>
  </footer>
</body>
</html>
