<!DOCTYPE html>
<html>
<head>
  <title><%= authentication_layout_title %></title>
  <%= stylesheet_link_tag    "authentication", :media => "all" %>
  <%= javascript_include_tag "authentication" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section id="auth-form">
    <%= render 'shared/notices' %>
    <%= yield %>
  </section>
</body>
</html>
